@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: 300;
  background-color: #f6f6f6;
}

nav {
  background-color: white;
  padding: 25px 20px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
  margin-right: 20px;
}

nav ul li.right {
  float: right;
}

nav ul li a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #333;
  padding: 20px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007BFF;
}

nav ul li a.active {
  border-bottom: 2px solid #007BFF;
}

.nav-username {
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.nav-logout {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.nav-logout:hover {
  background-color: #0056b3;
}


h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: #444;
}

h2 {
  color: #444;
}

.special-h2 {
  font-size: 1.8em;
  margin-top: 40px;
  margin-bottom: 50px;
}


table {
  width: 100%;
  border-collapse: collapse;
  font-weight: 300;
  opacity: 0;
  animation: loadIn 1s forwards;
}

table, th, td {
  border: 1px solid #ddd;
  font-weight: 300;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #ffffff;
}

tr:hover {background-color: #f5f5f5;}

.split {
  display: flex;
  height: calc(100vh - 50px);
  box-sizing: border-box;
}

.problem-section,
.editor-section {
  padding: 20px;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2P4DwABAQEAG7buVgAAAABJRU5ErkJggg==');
  cursor: ew-resize;
}

textarea {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  flex-grow: 1;
  margin-right: 10px;
}

.ace-editor {
  font-size: 18px !important;
  margin-bottom: 15px;
}



.run-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.run-button, .submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 40px;
  text-align: center;
  box-sizing: border-box;
  transition-duration: 0.1s;
}

.submit-button {
  background-color: rgb(0, 172, 0);
  color: white;
}
.submit-button:hover {
  background-color: #009405;
  color: white;
}

.run-button {
  background-color: lightgray;
  color: rgb(95, 95, 95);
  margin-right: 10px;
}
.run-button:hover {
  background-color: #909090;
  color: white;
}






.case-button {
  border: 2px solid;
  background-color: transparent;
  color: grey;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
}

.case-button.passed {
  border-color: green;
}

.case-button.failed {
  border-color: red;
}

.case-button.selected {
  color: black;
}

.output-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.case-detail-container {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
}

.case-detail-container p {
  margin: 0;
}


.space {
  height: 50px;
}





.tab-button {
  border: none;
  padding: 10px;
  cursor: pointer;
  background: none;
}

.tab-button.active {
  border-bottom: 3px solid black;
}

.tabs {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  text-align: left;
}

.submission-container {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

.submission-status-accepted {
  color: rgb(0, 172, 0);
}

.submission-status-rejected {
  color: red;
}

.submission-time {
  color: grey;
}






.login-link {
  color: #1976d2;
  font-weight: bold;
}

.login-link:hover {
  color: #003cff;
  text-decoration: underline;
}


/************* LOGIN PAGE *************/

.login-container,
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}


.login-form,
.register-form {
  width: 350px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form h2,
.register-form h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
  color: #333;
}

.login-form input[type="text"],
.login-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="password"] {
  width: 100%;
  padding: 11px;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 16px;
  box-sizing: border-box;
}

.login-form button,
.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #3897f0;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

.login-form button:hover,
.register-form button:hover {
  background-color: #1877c7;
}

.login-form .loading,
.register-form .loading {
  text-align: center;
  margin-top: 10px;
}

.login-form .error,
.register-form .error {
  text-align: center;
  color: #ed4956;
  margin-top: 10px;
}




/* Modal */

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 35px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-button {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

.login {
  background-color: #007BFF;
  color: white;
  margin-left: 8px;
}

.login:hover {
  background-color: #0056b3;
}

.register {
  background-color: #007BFF;
  color: white;
  margin-left: 10px;
}

.register:hover {
  background-color: #0056b3;
}





/* HOME PAGE */

.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  background-color: #f5f5f5;
  color: #444;
  padding: 2em;
}

.home-text {
  max-width: 500px;
  opacity: 0;
  transform: translateX(-50px);
  animation: loadIn 0.8s forwards;
}


.home-text p {
  font-size: 1.2em;
  line-height: 1.6;
}

.home-btn {
  margin-top: 1em;
  padding: 0.8em 1.8em;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home-btn:hover {
  background-color: #0056b3;
}

.home-image {
  max-width: 500px;
  opacity: 0;
  transform: translateX(50px);
  animation: loadIn 0.8s 0.3s forwards;
}

.home-image img {
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
}

@keyframes loadIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
